*{
  font-family: cursive
}
#head{
      
  display: flex;
  justify-content: center;
  color: black;
  
 }
#head:hover{
    color: rgb(34, 13, 224);
}

#form{
   background-color: lightblue;
  padding: 50px;
  margin:  30px auto;
  max-width: 500px;
  border-radius: 10px;
 
   
}

#smt:hover{

    background-color: rgb(11, 18, 236);

}

#smt {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  margin:auto;
  display: block;
  
}

.form-group{
     margin: 15px;
}

.form-field {
  width: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  border: 2px solid #000000;
  border-radius: 25px;
}

label{
  margin-left: 12px;
}
